################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/budapest
/2017-07-03_hungary_budapest.mbtiles
/budapest_gtfs.zip
/budapest.zip
/scripts/local.js
style*json*